  <body class="overflow-x-hidden">
<div>
  <p class="fs-1 text-center">Order Items</p>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of Loader" style="flex-direction: row;">
    <div
      *ngFor="let order of user.cart"
    >
      <th >{{ order.id}}</th>
      <th >{{ order.title}}</th>
      <th >{{ order.price}}</th>

    </div>
  </tbody>
</table>
</body>

