<!-- <div class="col-4">{{ loginform.value | json }}</div> -->
<form (ngSubmit)="onSubmit(loginform)" #loginform="ngForm">
  <div class="bg-image">
    <h1 class="text-center mt-10 mb-5">SPECS MAKER</h1>
    <div class="container col-lg-4">
      <div class="header">
        <h2 class="text-center mb-5">SIGN IN</h2>
      </div>
      <div class="form text-center">
        <label for="email">EMAIL:</label>
        <input
          type="email"
          class="rounded-3 mx-4 my-3 form-control"
          name="email"
          ngModel
          required
          email
          #modelEmail="ngModel"
          [ngClass]="
            modelEmail.invalid && modelEmail.touched ? 'is-invalid' : ''
          "
        />
        <div
          *ngIf="modelEmail.invalid && modelEmail.touched"
          class="invalid-feedback"
        >
          please enter the valid mail
        </div>
        <!-- {{ modelEmail.valid | json }} -->

        <!-- <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i> -->
      </div>
      <div class="form text-center">
        <label for="pwd">PASSWORD:</label>
        <input
          type="password"
          class="rounded-3 mx-4 my-3 form-control"
          name="password"
          ngModel
          required
          minlength="3"
          #modelPassword="ngModel"
          [ngClass]="
            modelPassword.invalid && modelPassword.dirty ? 'is-invalid' : ''
          "
        />
        <div
          *ngIf="modelPassword.errors?.['required']&& modelEmail.dirty"
          class="invalid-feedback"
        >
          please enter the valid password
        </div>
        <div
          *ngIf="modelPassword.errors?.['minlength']"
          class="invalid-feedback"
        >
          please enter atleast
          {{modelPassword.errors?.['minlength']?.['requiredLength']}}
          characters
        </div>
      </div>

      <p id="error" class="text-danger"></p>

      <p class="mt-2 me-4">
        Don't have an account?
        <a routerLink="/register">Create an account</a>
      </p>
      <div *ngIf="error.length > 0" class="text-danger">{{ error }}</div>
      <button
        type="submit"
        class="btn bg-primary-subtle text-emphasis-primary rounded-5 w-25 mx-5 m-lg-5"
        [disabled]="!loginform.valid"
      >
        Sign In
      </button>
    </div>
  </div>
</form>
